@model CategoryCreateViewModel

<h2>Yeni Kateqoriya Yarat</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="categoryName">Kateqoriya Adı:</label>
        <input type="text" id="categoryName" asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="parentCategory">Üst Kateqoriya:</label>
        <select id="parentCategory" asp-for="ParentCategoryId" class="form-control">
            <option value="@null" selected>Əsas kateqoriya kimi yarat, lazimdisa ust kategoriya ver</option>
            @foreach (var category in Model.Categories ?? new())
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Yarat</button>
</form>


